/*

a:link {
  text-decoration: none;
  color: white;
}

a:hover{
  color: yellow;
  cursor: pointer;
}

a:visited{
  color: white;
}

@media screen and (max-width: 320px) {
  #project-name {
    font-size: 10px;
    display: flex;
  }
}

*/