body {
    background-image: url(../../backgrounds/rock-structure-board-texture-floor-wall-1119069-pxhere.com.jpg);
}

h2 {
    text-align: center;
}
p {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

dl {
    margin-bottom: 1rem;
}

dl::after {
    border-bottom: 1px dashed;
    content: "";
    display: block;
    height: 1em;
    overflow: hidden;
}

dd {
    float: right;
    padding: 0 0 0 0.4em;
}

dt {
    float: left;
    padding: 0 0.4em 0 0;
}

.report {
    grid-column: 1/-1;
}

.reportlist {
    margin: 1.5rem auto;
    font-family: 'Comic Sans MS';
    font-weight: bold;
    color: #f0f0f0;
    font-size: x-large;
    padding-left: 4rem;
    padding-right: 4rem;
}